            <div class="col-md-6 col-sm-12" style="font-size: 21px; color: white; padding-top: 100px;">

				<p>Hi! I'm Ramee. I'm 23 years old and my interests include art, crafts, gaming, music,learning new languages and eating! :)</p>
				<p>I'm currently working as a 2D/UI Artist in a video game company in Bangalore. I love digging up different facets related to art as it keeps me motivated and improve my skills.</p>

				<p>Apart from art, I jam with friends and do yoga during leisure to surround myself with only positive vibes. I'd love to be in a fun and competitive environment, and learn as much I can from friends and seniors and vice-versa. To wrap it up I believe i strongly believe in god, love and magic and they say, 'Art is the last form of magic that exists!'</p>
                
            </div>