<div class="col-lg-12">
	<div class="well bg-radial" style="margin-top: 80px; background-color: #ECFFB8;">
		<div style="font-size: 28px; text-align: center;">
			<span style="color: #E03428;" class="fa fa-envelope"></span>&nbsp;<a class="link-color" target="_" href="mailto:bordoloi.ramee@gmail.com">bordoloi.ramee@gmail.com</a>
		</div>

		<div style="font-size: 28px; text-align: center; padding-top: 30px;">
			<span style="color: #1B86BD;" class="fa fa-linkedin-square"></span>&nbsp;<a class="link-color" target="_" href="http://in.linkedin.com/in/rameebordoloi">rameebordoloi</a>
		</div>
	</div>	
</div>
